body{
    margin: 0;
    color: #ff09ad;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(29, 28, 28);

    }

#logo{
    display: flex;
    align-items: center;
    width: 35px;
    margin-right: auto;
    margin-left: auto;
 
}

   .hero{
    background: url("img/giphy.webp");
    background-size: no-repeat;
    padding: 30px 0 40px 0;
    height: 500px;
    color: #e3f702;
    text-shadow: 5px -1px #0717ff;

   }

.btn-header{
    background-color: #25ff08;
    font-size: 25px;
    border-style: none;
    padding: 10px 20px;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    border-radius: 15px;
    
    
}

.line{
    border-bottom: 4px solid white;
}

.h3{
    text-shadow: 5 5 3 #e3f702;
}

