body{
    background: url("img/nasa.jpg");
   background-size: cover;
   color: aliceblue;
   display: flex;
   text-align: center;

}

   .header{
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

   }

.btn-header{
    background-color: rgb(245, 245, 244);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    border-style: none;
    padding: 10px 20px;
    align-items: center;
    
}